@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <img src="http://lorempixel.com/200/200/people/" alt="..." />
    </div>
    <div class="col-md-8">

    </div>
    </div>
<hr />
<div class="row">
    
    <div class="col-md-4">
        <h2>Blogs</h2>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">This is the short description to any blog and it is simple but all the backend needs to be developed</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">This is the short description to any blog and it is simple but all the backend needs to be developed</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">This is the short description to any blog and it is simple but all the backend needs to be developed</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">This is the short description to any blog and it is simple but all the backend needs to be developed</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">This is the short description to any blog and it is simple but all the backend needs to be developed</p>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Gallery</h2>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <img src="http://lorempixel.com/400/200/sports/" alt="..." />
            </a>
            <a href="#" class="list-group-item">
                <img src="http://lorempixel.com/400/300/people/" alt="..." />
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <h2>My Tweets</h2>
        <div class="list-group">
            <p class="list-group-item">Royal Caribbean cruise to end early as number of those struck by stomach flu spikes to more than 600 - <a href="">@@NBCNews</a> </p>
            <p class="list-group-item">Royal Caribbean cruise to end early as number of those struck by stomach flu spikes to more than 600 - <a href="">@@NBCNews</a> </p>
            <p class="list-group-item">Royal Caribbean cruise to end early as number of those struck by stomach flu spikes to more than 600 - <a href="">@@NBCNews</a> </p>
            <p class="list-group-item">Royal Caribbean cruise to end early as number of those struck by stomach flu spikes to more than 600 - <a href="">@@NBCNews</a> </p>
            <p class="list-group-item">Royal Caribbean cruise to end early as number of those struck by stomach flu spikes to more than 600 - <a href="">@@NBCNews</a> </p>
            <p class="list-group-item">Royal Caribbean cruise to end early as number of those struck by stomach flu spikes to more than 600 - <a href="">@@NBCNews</a> </p>
            <p class="list-group-item">Royal Caribbean cruise to end early as number of those struck by stomach flu spikes to more than 600 - <a href="">@@NBCNews</a> </p>
            <p class="list-group-item">Royal Caribbean cruise to end early as number of those struck by stomach flu spikes to more than 600 - <a href="">@@NBCNews</a> </p>
            <p class="list-group-item">Royal Caribbean cruise to end early as number of those struck by stomach flu spikes to more than 600 - <a href="">@@NBCNews</a> </p>
        </div>
    </div>
</div>